.ingame-content {
    margin: 0 auto;
    width: 900px;
    .admin-controles {
        text-align: center;
        margin-bottom: 20px;
        * {
            padding: 20px;
        }
    }
    .pending-question {
        display: none;
    }
    .results {
        .results-question {
            text-align: center;
            * {
                display: inline-block;
            }
            .stat {
                * {
                    display: block;
                }                
                text-align: center;
            }
        }
        .global-results {
            .list-leaderboard {
                margin: 0 auto;
                
                padding: 30px;
                width: 250px;
                
                .item {
                    * {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .index {
                        font-weight: bolder;
                        font-size: 2em;
                        width: 40px;
                    }
                    .nick {
                        font-size: 1.5em;
                        font-weight: 100;
                    }   
                    .g-score {
                        float: right;
                        font-size: 2em;
                    }
                }
            }
        }
    }
    .question {
        margin: 20px auto;
        .lbl-question {
            font-family: 'PT Sans', sans-serif !important;
            font-size: 3em;
            font-weight: 100;
            margin-bottom: 20px;
        }
        width: 90%;
    }
    .chrono {
        text-align: center;
        #secondes {
            font-size: 4em;
            font-weight: bold;
        }
        #ms {
            font-size: 3em;
            color: #777;
            font-weight: 100;
        }
        .bar {
            border-radius: 10px;
            margin-top: 15px;
            background-color: #e5e5e5;
            height: 6px;
            width: 100%;
            #inner-bar {
                border-radius: 10px;
                background-color: #66c4ff;
                height: 100%;
                width: 23%;
            }
        }
    }
    .bread {
        text-align: center;
        padding: 20px;
        font-weight: 100;
        font-size: 2em;
        color: #666;
        margin-top: 25px;
    }
    .answers {
        .row {
            .prop {
                box-sizing: border-box;
                display: inline-block;
                vertical-align: middle;
                background-color: white;
                text-align: center;
                padding: 20px;
                width: 300px;
                margin: 20px;
                border-radius: 5px;
                font-size: 1.5em;
                position: relative;
                .score {
                    height: 3px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-radius: 0px 0px 5px 5px;
                    .inner-score {
                        background-color: #66c4ff;
                        width: 40%;
                        height: 100%;
                        border-radius: 0px 0px 0px 5px;
                    }
                }
            }
            .prop:hover {
                background-color: #add0ff;
                cursor: pointer;
            }
        }
    }
}